In [1]:
# ----------------Assignment no 1-----------------------------------
#1.	If  name = ''' Hi How are you?
#Starterd learning python.
#It's really interesting.''' Then what is the output of following code
#•	name[:] 
#•	name[-10:-5]
#•	name[3:12]
#•	name[12:3]
#•	name[5,6]
#•	name[-4:-12]
#•	name[::2]
#•	name[::-2]
name= "snehal Hi How are you"
name[:]

'snehal Hi How are you'

In [2]:
print(name[-10:-5])
print(name[3:12])
print(name[12:3])
print(name[5:6])
print(name[-4:-12])
print(name[::2])
print(name[::-2])

ow ar
hal Hi Ho

l

sea iHwaeyu
uyeawHi aes

In [3]:
#2.	 L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
#a.	L1[:]
#b.	L1[::3]
#c.	L1[::-2]
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
print(L1[:])
print(L1[::3])
print(L1[::-2])
#How to extract  value “Happy” based on index and negative index
print(L1[-2])         
#e.	How to check type of data in list at 4th position
print(type(L1[4]))
#f.	Extract values for 100, 300, 400 
print(L1[5:8])

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']
['a', 30, 300, 'major']
['major', 400, 100, 30, 'b']
Happy
<class 'str'>
[100, 300, 400]

In [7]:
#3.	If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following
#•	L2[4]
#•	L2[1:5]
#•	L2[7]
#•	L2[7][2]
#•	L7[7][2:]
#•	L2[ : 3]
#•	L2[3:]
l2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, 'Success']
print(l2)
print(l2[4])
print(l2[1:5])
print(l2[7])
print(l2[7][2])
print(l2[7][2:])
print(l2[ : 3])
print(l2[3:])

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']
['a', 'b', 'work hard']
[2, 3, 5, ['a', 'b', 'work hard']]
Success
c
ccess
[1, 2, 3]
[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [8]:
#4.	From the above l2 value ‘b’ must be changed to ‘BEE’.
l2[1]="BEE"
l2

[1, 'BEE', 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [9]:
#5.	From l2 “BEE” has to discard.
l2.remove("BEE")
l2

[1, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [10]:
#6.	In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]}
l2.append ({'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']})
l2

[1,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [13]:
#7.	From l2 extract insect information.
l2[7]['insect']

['bee', 'moth']

In [20]:
#8.	Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2
d1 = {'a':10, 'b':20, 'c' : 30}
d1

{'a': 10, 'b': 20, 'c': 30}

In [16]:
l2.insert(2,d1)
l2

[1,
 3,
 {'a': 10, 'b': 20, 'c': 30},
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [24]:
#9.	Based on new l2 created here extract the value 10 from l2 dictionary.
New_val=l2[2]['a']
print(New_val)

10

In [17]:
#10.	If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] then what is the output of following
#•	L2[4][2]
#•	L2[5][:]
#•	L2[2] [:]
#•	L2[1:5]
#•	L2[5]
#•	L2[5][3:-1]
#•	L2[-1]
#•	L2[-4, -3]
#•	L2[-4: -10]
#•	L2[7][2]
#•	L7[-7][[2:]
#•	L2[ :- 3]
#•	L2[-3:]
l2 =[1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")] 
l2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [20]:
print(l2[4][2])
print(l2[5][:])
print(l2[2:] )
print(l2[1:5])
print(l2[5])
print(l2[5][3:-1])
print(l2[-1])
print(l2[-4: -3])
print(l2[-4: -10])
print(l2[-7][2:])
print(l2[ :- 3])
print(l2[-3:])

50
Python
[3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100, 200, 'Success', (200, 300, 'Hundreds')]
[2, 3, 5, (90, 40, 50, 10)]
Python
ho
(200, 300, 'Hundreds')
[100]
[]
thon
[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]
[200, 'Success', (200, 300, 'Hundreds')]

In [32]:
#11.A.ask user to enter marks and make group like distinction like first class, second class,pass,fail based on the marks
#>80=>distinction #>70 => first class #>50 => second #else fail
#Without Function
mark=input("Enter a marks")
if (not mark.isalnum() and not mark.isalpha()) or mark.isdigit():     
    mark=float(mark)   #for decimal number
    if  mark >100 or mark <0:
        print("Enter a proper mark")
    elif mark >80 :
        print("Distinction")
    elif mark >70:
       print("First class")
    elif mark >50:
       print("second class")  
    elif mark >35  :
      print('Pass')
    else:
        print('Fail')
else:
    print("Not Proper")

Enter a marks 35

Fail

In [33]:
#11.B
#using function

def GpMark(mark):
    if (not mark.isalnum() and not mark.isalpha()) or mark.isdigit():     
        mark=float(mark)  
        if  mark >100 or mark <0:
            print("Enter a proper mark")
        elif mark >80 :
            print("Distinction")
        elif mark >70:
           print("First class")
        elif mark >50:
           print("second class")  
        elif mark >35  :
          print('pass')
        else:
            print('Fail')
    else:
        print("Not Proper")

mark=input("Enter a marks")
GpMark(mark)

Enter a marks 85

Distinction

In [40]:
#12.A Without Function
#.Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
#If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
#If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
#If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
#If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no

sal=float(input("Enter a salary(in lpa):"))
rating=input("Enter a rating(A/B/C/D):")
increment=0   
if sal <=5:
    if rating =='A':
        increment=0.16
    elif rating=='B':
        increment=0.12
    elif  rating =='C':
        increment=0.10
    elif rating == "D":
        increment=0.06
elif sal <=10 :
    if rating =='A':
        increment=0.14
    elif rating=='B':
        increment=0.10
    elif  rating =='C':
        increment=0.08
    elif rating == "D":
        increment=0.06
elif sal <=15 :
    if rating =='A':
        increment=0.08
    elif rating=='B':
        increment=0.06
    elif  rating =='C':
        increment=0.04
    elif rating == "D":
        'no increment'
elif sal <=23 :
    if rating =='A':
        increment=0.07
    elif rating=='B':
        increment=0.05
    elif  rating =='C':
        increment=0.04
    elif rating == "D":
        increment=0        
else:
    print("Invalid value")
new_salary = sal + (sal * increment)   # in original salary we have add the increment amount =  (salary * increment) 
print("New salary:",new_salary)   #updated salary

Enter a salary(in lpa): 1300000
Enter a rating(A/B/C/D): B

Invalid value
New salary: 1300000.0

In [38]:
#12. B using function
#12.Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
#If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6%
#If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6%
#If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment
#If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no
# sal=float(input("Enter a salary(in Lpa):"))
# rating=input("Enter a rating(A/B/C/D):")
def EmpInfo(sal):
    increment=0
    sal=float(sal)
    if sal >=5:
        if rating =='A':
            increment = 0.16
        elif rating =='B':
           increment = 0.12
        elif rating =='C':
            increment=0.10
        elif rating == "D":
            increment=0.06
    elif sal <=10 :
        if rating =='A':
            increment=0.14
        elif rating=='B':
            increment=0.10
        elif  rating =='C':
            increment=0.08
        elif rating == "D":
            increment=0.06
    elif sal <=15 :
        if rating =='A':
            increment=0.08
        elif rating=='B':
            increment=0.06
        elif  rating =='C':
            increment=0.04
        elif rating == "D":
            'no increment'
    elif sal <=23 :
        if rating =='A':
            increment=0.07
        elif rating=='B':
            increment=0.05
        elif  rating =='C':
            increment=0.04
        elif rating == "D":
            increment=0        
    else:
        print("Invalid value")
    new_sal=sal+(sal*increment)
    print("New Salary:",new_sal)

sal=float(input("Enter a salary(in Lpa):"))
rating=input("Enter a rating(A/B/C/D):")
EmpInfo(sal)

Enter a salary(in Lpa): 3400000
Enter a rating(A/B/C/D): D

New Salary: 3604000.0

In [6]:
#13.	Ask user to opt for courses for master degree based on the following
#L1 = [“HR”, “Finance”, “Marketing”, “DS”]
#Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. 
#Analytics is the optional subject and having added extra fees. DS is not having analytics.
#If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
#If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
#Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
#User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)
class Cource:
    def __init__(self):
        self.total_cost=0
        self.base_cost=200000    
        
    def Cal_Curses(self):
        L1 = ["HR", "Finance", "Marketing", "DS"]
        # total_cost=0
        # base_cost=200000          
        Sub=input("enter a subject(HR/Finance/Marketing/DS)")
        analytics=input("Enter analytics(Y/N)") 
        Hostel= input("enter Hostel (Y/N)") 
        Food=int(input("required food for how many month"))
        Transportation=("Transportation based on sem(semester/annual)")  
        if Sub in L1:
            self.total_cost=self.total_cost+ self.base_cost
            if analytics=="Y" and Sub !="DS":
                analytics_fee=self.base_cost *0.10
                self.total_cost=self.total_cost+  analytics_fee
        else:
            print("Invalid sub")
                      
        if Hostel =="Y":
                      self.total_cost+=200000
                      
        food_cost = Food * 2000
        self.total_cost += Food
        # Transportation cost
        if Transportation == "semester":
            self.total_cost += 13000
        elif Transportation == "annual":
            self.total_cost += 26000
        
        # Final output
        print("Total Annual Cost: ₹", int(self.total_cost))
c=Cource()
c. Cal_Curses()

enter a subject(HR/Finance/Marketing/DS) HR
Enter analytics(Y/N) y
enter Hostel (Y/N) n
required food for how many month 2

Total Annual Cost: ₹ 200002

In [17]:
#13.Ask user to opt for courses for master degree based on the following
#L1 = [“HR”, “Finance”, “Marketing”, “DS”]
#Based on above subject there are two different streams. For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. 
#Analytics is the optional subject and having added extra fees. DS is not having analytics.
#If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
#If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
#Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.  
#User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)
         
def Master(total_cost,base_cost):
    L1 = ["HR", "Finance", "Marketing", "DS"]
    
    # total_cost=0
    # base_cost=200000  
    if Sub in L1:
        total_cost=total_cost+ base_cost
        if analytics=="Y" and Sub !="DS":
             analytics_fee=base_cost *0.10
             total_cost=total_cost+ analytics_fee
        else:
             print("Invalid sub")
                          
        if Hostel =="Y":
            total_cost+=200000
                      
            food_cost = Food * 2000
            total_cost += Food
        # Transportation cost
        if Transportation == "semester":
            total_cost += 13000
        elif Transportation == "annual":
            total_cost += 26000
    
        # Final output
        print("Total Annual Cost: ₹", int(total_cost))              
             
Sub=input("enter a subject(HR/Finance/Marketing/DS)")
analytics=input("Enter analytics(Y/N)") 
Hostel= input("enter Hostel (Y/N)") 
Food=int(input("required food for how many month"))
Transportation=("Transportation based on sem(semester/annual)")  

Master(0,200000)

enter a subject(HR/Finance/Marketing/DS) HR
Enter analytics(Y/N) Y
enter Hostel (Y/N) N
required food for how many month 2

Total Annual Cost: ₹ 220000

In [42]:
 # ---------------type Casting -------------------
#17.Create a=100 
#•	Convert a to string 
a=100
b=str(a)
print(type(b))

<class 'str'>

In [44]:
#•Convert a to list  
c=list(b)
print(type(b))

<class 'str'>

In [38]:
#Convert a to tuple  
d=tuple(c)
print(type(d))

<class 'tuple'>

In [39]:
# convert a to set
x=set(d)
print(type(x))

<class 'set'>

In [40]:
# convert a to float
y=float(a)
print(type(y))

<class 'float'>

In [41]:
a=100
d={'a':a}
print(type(d))

<class 'dict'>

In [42]:
#18.Create city = “Pune” 
#•	Convert to int     
#•	Convert float 
#•	Convert list  
#•	Convert tuple 
#•	Convert dict 
#•	Convert set 
#•	Obsert errors and note it down for all conversions 
#Convert to int
city = "Pune"
c=int(city)
print(c)

ValueError: invalid literal for int() with base 10: 'Pune'

In [43]:
#Convert list  
city = "Pune"
c=list(city)
print(c)

['P', 'u', 'n', 'e']

In [44]:
#	Convert tuple 
d=tuple(c)
print(d)

('P', 'u', 'n', 'e')

In [45]:
#Convert set 
e=set(d)
print(e)

{'u', 'e', 'P', 'n'}

In [46]:
#•	Convert float
e=float(c)
print(c)

TypeError: float() argument must be a string or a real number, not 'list'

In [47]:
#19.Create a list as marks =[20,18,15,17,18] 
# •	Convert to int 
# •	Convert float 
# •	Convert list 
# •	Convert tuple 
# •	Convert dict 
# •	Convert set 
# •	observe : errors and note it down for all conversions 
marks = [20,18,15,17,18] 
marks

[20, 18, 15, 17, 18]

In [48]:
# •	Convert to int 
c=int(marks)
print(c)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [49]:
# •	Convert float 
d=float(marks)
print(d)

TypeError: float() argument must be a string or a real number, not 'list'

In [50]:
#	Convert list 
e=list(marks)
e

[20, 18, 15, 17, 18]

In [51]:
# •	Convert tuple 
t=tuple(marks)
t

(20, 18, 15, 17, 18)

In [52]:
# •	Convert dict 
dic=dict(marks)
dic

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [53]:
#Convert set 
s=set(marks)
s

{15, 17, 18, 20}

In [47]:
# List operations 
# 20.Create the empty list snames 
sname=[]
print(sname)

[]

In [48]:
# Add value 20 in the list using append 
sname.append(20)
sname

[20]

In [49]:
# •	 Add value 30 in the list using extend 
sname.extend(30)
sname

TypeError: 'int' object is not iterable

In [57]:
# •	Add values in the list using append 
list1=[10,20,12,13,14]
list1.append(15)
list1

[10, 20, 12, 13, 14, 15]

In [58]:
# •	Add value “WORK" in the list using extend 
list1.extend("WORK")
list1

[10, 20, 12, 13, 14, 15, 'W', 'O', 'R', 'K']

In [45]:
# •	Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3] 
combo=[1,'a','b',2,3]
combo

[1, 'a', 'b', 2, 3]

In [50]:
# •	Add sname to combo using addition operator
l1 =sname + combo
l1

[20, 1, 'a', 'b', 2, 3]

In [51]:
# •	Add combo to snames using append 
combo.append(sname)
combo

[1, 'a', 'b', 2, 3, [20]]

In [62]:
# •	Add combo to snames using extend. 
combo.extend(name)
combo

[1, 'a', 'b', 2, 3, [20], 20]

In [63]:
#21.Create one list l1 having two elements and l3 having 7 elements. 
#Now at 4th position add l1
l1=[12,13]
l3=[30,20,29,13,14,15,17]
l3[4]=l1  
l3

[30, 20, 29, 13, [12, 13], 15, 17]

In [52]:
# 22.	Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ] 
#if the data is in integer or float then multiply with 5.  
# •	From the collection delete the record for “Nisha” 
# •	Find the location of 20.50 
l2=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
l2
for i in range(len(l2)):
    if type(l2[i]) == int or type(l2[i])==float:
        l2[i]=l2[i]*5
l2
l2.remove('Nisha')
l2

[5, 10, 15, ['a', 'b', 'c'], 500, 102.5, 450.5]

In [65]:
l2=[1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10 ]
l2
l2.index(20.50)

6

In [66]:
#23.Create a comprehensive list for square upto 10 
[i **2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [67]:
# 24.Create the comprehensive list to find number divisible by 13 till 200
[i for i in range (200) if i %13==0]

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [68]:
# 25.Create the list which is divisible by 4 from 300 to 400  
[i for i in range(300,400) if i % 4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396]

In [55]:
# 26.Create a comprehensive list to generate list up to x, y as a number. 
# For example if x = 3 list will be x_list = [0,1,2] and y=2 then y_list =[0,1]
# Then generate a new list based on all combination of x and y.
# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1]
# And output will be [[0,0],[0,1]]
#If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]
x=int(input("enter a num of element in Xlist"))
y=int(input("enter a num of element in Ylist"))
x_list=list(range(x))   
y_list=list(range(y))   
New_list=[[i, j] for i in x_list for j in y_list]
print(New_list)

enter a num of element in Xlist 1
enter a num of element in Ylist 2

[[0, 0], [0, 1]]

In [81]:
# 27.What is the difference between add and update methods in set? 
s1={1,2,3,4,5}
s1.add(6)
print(s1)

s1.update([10,12])
print(s1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 10, 12}

In [66]:
# 28.	What is the difference between append and extend methods in list? 
lst=[2,3,4,5]
lst.append(9)
print(lst)

lst.extend([2,6,4])
print(lst)

[2, 3, 4, 5, 9]
[2, 3, 4, 5, 9, 2, 6, 4]

In [75]:
# 29.What is the difference between pop ,remove and discard methods?
l2=[11,12,13,14,15]
l2.pop(3)
print(l2)

l2.remove(12)
print(l2)

l=set(l2)
l.discard(18)  
print(l)

[11, 12, 13, 15]
[11, 13, 15]
{11, 13, 15}

In [70]:
# 30.	How to create empty set? 
s=set()
s

set()

In [71]:
# 31.Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.
s1={1,2,3,4,5,6}
s2={3,5,6,7,8,9}
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{3, 5, 6, 7, 8, 9}

In [72]:
print(s1|s2)
print(s1&s2)
print(s1-s2)
print(s1^s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 5, 6}
{1, 2, 4}
{1, 2, 4, 7, 8, 9}

In [7]:
# 32.	Create l2 as a list and perform set operation on s1 with l1 
l2=[12,13,14,45,3]
l2
s1={1,2,3,4,5,6}
s1

{1, 2, 3, 4, 5, 6}

In [8]:
s2=set(l2)
s2

{3, 12, 13, 14, 45}

In [9]:
print(s1|s2)
print(s1 & s2)
print(s1-s2)
print(s1^s2)

{1, 2, 3, 4, 5, 6, 12, 45, 13, 14}
{3}
{1, 2, 4, 5, 6}
{1, 2, 4, 5, 6, 12, 13, 14, 45}

In [99]:
# # 33.	Ask user to enter the name and DOB and
# generate the password based on first name 4 characters and  @ddmm. 
# For example name = SURESH and DOB = 05-05-1978 
# then password will be SURE@0505 
name=input("enter a name")
Birth_Date=input("Enter a Birthdate")
first_name=name[:4]
DOB=Birth_Date[:5].replace("-","")
password=first_name+'@'+DOB
print("Password:",password)

enter a name Snehal
Enter a Birthdate 03-07-2003

Password: Sneh@0307

In [76]:
# 34.	Create the format mentioned here.
# *
# * *
# * * *
# * * * *
for i in range(5):
    print('* ' * i,"\n")

*

* *

* * *

* * * *

In [77]:
# 35.	Create the format as mentioned below:
# ****
# ***
# **
# *

for i in range(4,0,-1):
    print('* ' * i ,"\n")

* * * *

* * *

* *

*

In [78]:
# 36.	Str_val = “ABCD” then create the format as mentioned below:
# A
# A B
# A B C
# A B C D
Str_val = 'ABCD'
for i in range(len(Str_val)): #0,1,2,3
    for j in range(i+1):   # start from 0 as a and add 1 element in each
        print(Str_val[j],end=" ")  
    print()

A
A B
A B C
A B C D

In [5]:
# 37.Create the format mentioned below:
# 1
# 22
# 333
# 4444
for i in range(1,5):
    print(str(i) * i)

1
22
333
4444

In [1]:
# 38.	Val = “ABCD”  based on the Val, create the format mentioned below
# D
# DC
# DCB
# DCBA
val="ABCD"
for i in range(1,len(val)+1):
    print(val[::-1][:i])

D
DC
DCB
DCBA

In [78]:
# 39.	Ask user to enter the string. If string is UPGRAD then output must be
# D
# DA
# DAR
# DARG
# DARGP
# DARGPU   User may pass any string.
s1='UPGRAD'
s=s1[::-1]
for i in range(1,len(s)+1):
    print(s[:i])

D
DA
DAR
DARG
DARGP
DARGPU

In [106]:
# 40.	Create a list of odd numbers from 1 to 10
# 1.	Using for loop
# 2.	Using comprehensive list
lst=[]
for i in range(1,10):
    if  i %2!=0:
        lst.append(i)
print(lst)

[1, 3, 5, 7, 9]

In [109]:
# 2.Using comprehensive list
[i for i in range(1,10) if i %2!=0]

[1, 3, 5, 7, 9]

In [110]:
# 41.Create even number list using for loop from 200 to 250
lst=[]
for i in range(200,250):
    if i %2==0:
        lst.append(i)
print(lst)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248]

In [1]:
# 42.	List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
# Multiply each and every element by 2 and display the answer

List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
lst=[]
for i in List2:
    if isinstance(i,(int,float,str,list,tuple)):
        lst.append(i * 2)
    else:
        lst.append(i)
print(lst)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [17]:
#43. Digitalize the book allotment process for school. Charges are mentioned here in the given table:
# Book Prices Dictionary
Book_price = {
    '1st':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

    '2nd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

    '3rd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

    '4th':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
 
    '5th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

    '6th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

    '7th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

    '8th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
 
    '9th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250},

    '10th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250}
}
 
# Notebook Prices Dictionary
Notebook_price = {
    'square':{'100 pages':40, '200 pages':70},

    '4lines':{'100 pages':30, '200 pages':50},

    '2lines':{'100 pages':30, '200 pages':50},

    'single lines':{'100 pages':60, '200 pages':100},

    'A4 Notebook':{'100 pages':100, '200 pages':180}
}
def CalBook(standard):  #class enter by user
    book_total = 0
    if standard not in Book_price:
        print("Invalid class selected")
        return 0

    print("\nAvailable Books:")
    for book, price in Book_price[standard].items():
        print(book, "-", price)

    while True:
        subject = input("Enter book name (or 'stop'): ").lower()

        if subject == "stop":
            break

        if subject in Book_price[standard]:
            book_total += Book_price[standard][subject]
            print(subject, "added")
        else:
            print("Book not available")

    return book_total

def CalNoteBook():
    notebook_total = 0
    print("\nAvailable Notebooks:")
    for n_type in Notebook_price:
        print(n_type)

    while True:
         n_type = input("Enter notebook type (or 'stop'): ")

         if n_type.lower() == "stop":
            break

         if n_type in Notebook_price:
            pages = input("Enter pages (100 pages / 200 pages): ")

            if pages in Notebook_price[n_type]:
                notebook_total += Notebook_price[n_type][pages]
            else:
                print("Invalid page option")
         else:
            print("Notebook type not available")

    return notebook_total

name = input("Enter student name:")
standard = input("Enter class (1st to 10th):")
choice = input("Do you want book/ notebook / both:").lower()

book_total = 0
notebook_total = 0

if choice == "book":
    book_total = Book_price(standard)

elif choice == "notebook":
    notebook_total = CalNoteBook()

elif choice == "both":
    book_total = CalBook(standard)
    notebook_total = CalNoteBook()
else:
    print("Thank you for visiting")

Final_amount = book_total + notebook_total
print("\n------ BILL SUMMARY ------")
print("Student Name:", name)
print("Class:",standard)
print("Books Cost:",book_total)
print("Notebooks Cost:",notebook_total)
print("Final Amount:",Final_amount)

Enter student name: sdg
Enter class (1st to 10th): 5
Do you want book/ notebook / both: both

Invalid class selected

Available Notebooks:
square
4lines
2lines
single lines
A4 Notebook

Enter notebook type (or 'stop'):  4lines
Enter pages (100 pages / 200 pages):  100 pages
Enter notebook type (or 'stop'):  stop

------ BILL SUMMARY ------
Student Name: sdg
Class: 5
Books Cost: 0
Notebooks Cost: 30
Final Amount: 30

In [2]:
# 44.	Create a function to check if string is palindrome or not ? For example, if input is NITIN then reverse of the string is 
# same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.   

def ChkPalindrome(str1):
    revers=str1[::-1]
    if str1==revers:
        return 'palindrome'
    else:    
        return 'not palindrome'

str1=input("enter a string:")   

ChkPalindrome(str1)

enter a string: NITIN

'palindrome'

In [1]:
# 45.Create a function to validate user first name/last name. 
# User first name/last name should contain only characters. 
# No special characters, numbers, space in name 
First_Name=input("Enter a First Name:")
Last_name=input("Enter a Last Name:")
Name= First_Name + Last_name

def UserValidation(Name):
    if Name.isalpha():
        return Name
    else:
        return "User Not Validate Name!!!"

UserValidation(Name)

Enter a First Name: snehal
Enter a Last Name: hande

'snehalhande'

In [2]:
# 46.	Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space. 
def MobileNo(Num):
    try:
        if len(Num)==10 and Num.isdigit():
            return Num
        else:
            return "Mobile num not Define"
    except:
        print("Please Give Correct mob no")
Num=input("Enter Mobnum:")
MobileNo(Num)

Enter Mobnum: 8767177925

'8767177925'

In [3]:
# 47.Create a function to generate auto-password based on specific person
# details. Ask user to enter name, DOB. 
# And password must be First name 4 characters and year of birth.
def AutoPassword(Name,DOB):
    if Name.isalpha() and DOB[2] =='-' and DOB[5]=='-':
        password=Name[:4] + DOB[-4:]
        return password
    else:
        return "sorry your password is wrong"

Name=input("Enter User Name:")
DOB=input("Enter a Birth Date(dd-mm-yyyy)")
AutoPassword(Name,DOB)

Enter User Name: sabgaf
Enter a Birth Date(dd-mm-yyyy) 03-07-2003

'sabg2003'

In [2]:
# 48.	Create a empty dictionary and ask user to enter values as 
# name, DOB, mobile number add all the details in dictionary with 
# customer number as 1 for first time. If user try to enter another 
# value, then number should increase as 2 with new details and previous 
# values should not change.
# For example:
# {}
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}

# {1:{name : "Sachine", "DOB": "21-06-1965" , "mobile": "1234123423"},
# 2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}
data={}
def CustmerInfo(data,customer_count):
    for i in range(customer_count):
        name=input("Enter a Name:")
        DOB=input("Enter a Birth Date(dd-mm-yyyy)")
        MobNum=int(input("Enter Mobile No:"))
        customer_no=len(data)+1
        data[customer_no]={'name':name,"DOB":DOB, 'MobNum':MobNum}

customer_count=int(input("How many customer you want to enter:"))    
# print(data)
CustmerInfo(data,customer_count)
print(data)

How many customer you want to enter: 2
Enter a Name: snehal
Enter a Birth Date(dd-mm-yyyy) 03-07-2003
Enter Mobile No: 1234567890
Enter a Name: siddhi
Enter a Birth Date(dd-mm-yyyy) 16-10-2003
Enter Mobile No: 12345098765

{1: {'name': 'snehal', 'DOB': '03-07-2003', 'MobNum': 1234567890}, 2: {'name': 'siddhi', 'DOB': '16-10-2003', 'MobNum': 12345098765}}

In [10]:
# 49.Create a function to calculate age till now.
from datetime import datetime
def CalAge(dob):
   
    dob_date = datetime.strptime(dob, "%d-%m-%Y").date()
    today = datetime.today().date()
    age = today.year - dob_date.year
    if (today.month, today.day) < (dob_date.month, dob_date.day):
        age =age- 1
    return age
dob= input("Enter a DOB")  
CalAge(dob)

Enter a DOB 03-07-2003

22

In [ ]:
# 50.	Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [12]:
# 51.Calulate total hrs based on input sign in and sign out time
from datetime import datetime
signin=input("enter signin time(HH:MM):")
signout=input("enter signout time(HH:MM):")
T=datetime.strptime(signin,"%H:%M")
T1=datetime.strptime(signout,"%H:%M")
Total_time=T-T1
print(Total_time)

enter signin time(HH:MM): 3:45
enter signout time(HH:MM): 9:00

-1 day, 18:45:00

In [18]:
# 52.	Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 …..  upto 100 
def Fibonacci():
    a,b=0,1
    while a<=100:
        print(a, end=' ')
        a,b=b,a+b

Fibonacci()

0 1 1 2 3 5 8 13 21 34 55 89

In [9]:
# 53.	Write a code to generate factorial of the number  For example: factorial of 5 = 5! = 5*4*3*2*1
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
print(f"factorial of {num} is {fact}")

factorial of 5 is 120

In [4]:
#54.Write a program to find largest number in the list.
l1=[12,13,14,15,67,83,223,43,56,67]
l2=max(l1)
l2

223

In [21]:
# 55.Write a program to check frequency of each element in the list.
lst=[12,13,12,15,21,13,44]
f={}
for i in lst:
    if i in f:
        f[i]+=1
    else:
        f[i]=1
print(f)

{12: 2, 13: 2, 15: 1, 21: 1, 44: 1}

In [15]:
# 56.There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.
l1 =set([ 1,2,3,4,5])
print(l1)
l2 =set([3,2,8,7,9])
print(l2)
print(l1 &l2)

{1, 2, 3, 4, 5}
{2, 3, 7, 8, 9}
{2, 3}

In [8]:
# 57.	Build a function to print bill. Generate the bill as mentioned below. 
# Hotel Bill Program

hotel_name = "Welcome Hotel"
menu = "idli"
quantity = 2
price = 60
total = quantity * price

print("-" * 50)
print("|{:^48}|".format(hotel_name))
print("-" * 50)

print("| {:<3} {:<15} {:<10} {:>10} |".format(
    "sr", "Menu", "qunt", "price"
))

print("| {:<3} {:<15} {:<10} {:>10} |".format(
    1, menu, quantity, price
))

print("|" + " " * 48 + "|")
print("-" * 50)

print("| {:<30} {:>15} |".format("Total", total))
print("-" * 50)

--------------------------------------------------
|                 Welcome Hotel                  |
--------------------------------------------------
| sr  Menu            qunt            price |
| 1   idli            2                  60 |
|                                                |
--------------------------------------------------
| Total                                      120 |
--------------------------------------------------

In [ ]:
#58. Based on the OOPs concept create classes, methods, attributes and insert information

In [ ]:
# 59.	Create 3 tables  in mysql having the columns as mentioned
# 1) user : uid, mobile, passkey, date
# 2) Product : pid, pname
# 3) Order : oid, uid, pid

# user having  attribute uid, mobile
# 	      method user sign up
# 			sign in
# 			view_products
# 			view_orders
# 			place_order