# Comprehensive list:
#Write a list comprehension to generate squares of numbers from 1 to 10.
list=1,2,3,4,5,6,7,8,9,10
[i for i in range(1,11)if i**2]
print(i)

In [ ]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.
list=[i for i in range(1,51) if i %2==0]
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
#3. Convert all strings in a list to uppercase using list comprehension.
list=['snehal','neha','riya','siya']
l=[list1.upper() for list1 in list]
print(l)

['SNEHAL', 'NEHA', 'RIYA', 'SIYA']

In [ ]:
#4. Given a list of integers, create a new list that contains only the positive numbers.
list=[1,2,3,4,5,6,-3,-2,-4,-6]
l=[i for i in list if i >0]
print (l)

[1, 2, 3, 4, 5, 6]

In [ ]:
#5. Create a list of tuples (num, num^2) for numbers 1 to 5.
tuple1=[(num,num**2) for num in range(1,6)]
print(tuple1)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
#6.Extract all vowels from a given string using list comprehension.
str='My name is snehal'
l=[i for i in str if i.lower() in 'aeiou']
print(l)

['a', 'e', 'i', 'e', 'a']

In [ ]:
#7. Flatten a 2D list using list comprehension.
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [i for j in matrix for i in j]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#8. Replace all negative numbers in a list with 0 using list comprehension.
list=[1,2,3,4,5,6,-3,-2,-4,-6]
l=[i if i >=0 else 0 for i in list]
print (l)

[1, 2, 3, 4, 5, 6, 0, 0, 0, 0]

In [ ]:
#9. Given a list of words, create a list of lengths of each word.
words=['python','css','sql','java','mysql']
lengths=[len(word) for word in words]
print(lengths)

[6, 3, 3, 4, 5]

In [ ]:
#10. Filter out words that start with the letter 'A' or 'a'.
w=['apple','mango','banana','Asha']
word=[letter for letter in w if letter.lower().startswith('a')]
print(word)

['apple', 'Asha']

In [ ]:
w=['apple','mango','banana','Asha']
l1=[i for i in w if i[0]=='a' or i[0]=='A']
l1

['apple', 'Asha']

In [ ]:
#11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension.
#(Like → [“even”, “odd”, “odd”, “even”…]
word=[2,3,4,5,6,7,8,9]
l=["even" if i %2==0 else 'Odd' for i in word]
print(l)

['even', 'Odd', 'even', 'Odd', 'even', 'Odd', 'even', 'Odd']

In [ ]:
#12. Create a list of numbers divisible by both 3 and 5 in range 1–100.
list=[i for i in range(1,101) if i %3==0 and i %5==0 ]
print(list)

[15, 30, 45, 60, 75, 90]

In [ ]:
#13. write a nested list comprention to generate a multiplicaton table(1,5)
table=[[i*j for i in range(1,6)] for j in range (1,11)]
table

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25],
 [6, 12, 18, 24, 30],
 [7, 14, 21, 28, 35],
 [8, 16, 24, 32, 40],
 [9, 18, 27, 36, 45],
 [10, 20, 30, 40, 50]]

In [ ]:
#14. Convert a dictionary’s keys into a list using list comprehension.
dict1={'a':1,'b':2,"c":3}
keys=[key for key in dict1]
print(keys)

['a', 'b', 'c']

In [ ]:
#15. Extract numeric digits from a string using list comprehension.0
message="python11.3 is a versoin"
d=[ num for num in message if num.isdigit()]
print(d)

['1', '1', '3']

In [ ]:
#16. Use list comprehension to remove all spaces from a string
text = "my name is snehal"
no_spaces = ''.join([ch for ch in text if ch != ' '])
print(no_spaces)

mynameissnehal

In [ ]:
#17. Create a list of characters that appear more than once in a string.
text = "programming"
duplicates = [ch for ch in text if text.count(ch) > 1]
print(duplicates)

['r', 'g', 'r', 'm', 'm', 'g']

In [ ]:
#18. From a list of sentences, generate a list of all words (split using list comprehension).
s = ["Python is easy", "List comprehension is powerful"]
w = [i for sentence in s for i in sentence.split()]
print(w)

['Python', 'is', 'easy', 'List', 'comprehension', 'is', 'powerful']

In [ ]:
#19. Create a list of unique elements from a list using list comprehension + condition.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = [num for i, num in enumerate(numbers) if num not in numbers[:i]]
print(unique)

[1, 2, 3, 4, 5]

In [ ]:
#20. Generate all pairs (x, y) where x is from list A and y is from list B (cartesian prod
a=[1,2,3]
b=[5,6,7]
pro=[(x,y) for x in a for y in b]
print(pro)

[(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7)]

In [ ]:
#Lambda functions
#1. Write a lambda to add two numbers.
add=lambda a,b:a+b
print(add(2,4))

6

In [ ]:
#. Create a lambda to check if a number is even.
#num=[2,3,4,5,6,7,8,9,10]
n=lambda num:num % 2==0
print(n(7))

False

In [ ]:
3#. Write a lambda to get the last character of a string
last_val=lambda s:s[-1]
print(last_val('snehal'))

l

In [ ]:
#4. Use lambda with map() to square every number in a list.
l = [2,3,4,5,6,7,8,9]
num = list(map(lambda n: n**2, l))
print(num)

[4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#5. Use lambda with filter() to get only odd numbers from a list.
l = [2,3,4,5,6,7,8,9]
num=list(filter(lambda n:n%2!=0,l))
print(num)

[3, 5, 7, 9]

In [ ]:
# 7. Create a lambda to check if a string is a palindrome.
str1='MAM'
s1=lambda s:s==s[::-1]
if s1(str1):
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [ ]:
# 8. Use lambda to find maximum of three numbers.
num=lambda a,b,c:max(a,b,c)
print(num(20,30,40))

40

In [ ]:
# 9. Write a lambda to reverse a string.
str1=lambda s1:s1[::-1]
str1('String')

'gnirtS'

In [ ]:
# 10. Use lambda with map() to convert a list of strings to integers
s=["12",'23','34']
l1=list(map(lambda x:int(x),s))
l1

[12, 23, 34]

In [ ]:
# 11. Use lambda to check if number is divisible by 5.
num=lambda x: x%5==0
num(19)

False

In [ ]:
#12. Use lambda with filter() to remove empty strings from a list.
str1=['snehal','','siddhi','','riya']
s1=list(filter(lambda x :x!='',str1))
s1

['snehal', 'siddhi', 'riya']

In [1]:
#13. Write a lambda that returns the larger of two numbers.
max_num=lambda a,b :a if a>b else b
max_num(10,20)

20

In [2]:
#Use lambda to check if number is divisible by 5.
num1=lambda num: num%5==0
num1(10)

True

In [5]:
#15. Use lambda + map() to add 10 to each element of a list.
list1=[10,20,30,40]
l1=list(map(lambda x:x+10,list1))
l1

[20, 30, 40, 50]

In [8]:
#16. Use lambda to sort a list of dictionaries by a key (like "age").
students = [
    {"name": "Snehal", "age": 22},
    {"name": "Riya", "age": 20},
    {"name": "Aman", "age": 25}
]
sorted_list = sorted(students, key=lambda x: x["age"], reverse=True)
sorted_list

[{'name': 'Aman', 'age': 25},
 {'name': 'Snehal', 'age': 22},
 {'name': 'Riya', 'age': 20}]

In [12]:
#17. Write a lambda that returns True if a character is a vowel.
chk_vowel = lambda x: x.lower() in "aeiou"
chk_vowel("e")

True

In [13]:
#18. Use lambda + filter to extract words of length > 5 from a list.
words = ["Python", "Java", "Programming", "Code", "Developer"]
long_words = list(filter(lambda w: len(w) > 5, words))
print(long_words)

['Python', 'Programming', 'Developer']

In [14]:
#19. Use lambda to calculate the area of a circle (πr²).
import math
area = lambda r: math.pi * r**2
print(area(5))

78.53981633974483

In [15]:
#20. Write a lambda to remove duplicates from a list using filter + set.
numbers = [1, 2, 2, 3, 4, 4, 5, 1, 6]
seen = set()
unique_numbers = list(filter(lambda x: not (x in seen or seen.add(x)), numbers))
print(unique_numbers)

[1, 2, 3, 4, 5, 6]

In [16]:
#Use lambda with reduce() to find the product of all numbers in a list.
from functools import reduce
numbers = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, numbers)
print(product)

120

In [17]:
#22. Write a lambda that returns absolute value of a number.
absolute = lambda x: x if x >= 0 else -x
print(absolute(10))    
print(absolute(-7))

10
7

In [18]:
#23. Use lambda to sort a list of strings by their length.
words = ["Python", "Java", "C", "Programming", "AI"]
sorted_words = sorted(words, key=lambda w: len(w))
sorted_words

['C', 'AI', 'Java', 'Python', 'Programming']

In [19]:
#24. Use lambda to get only uppercase characters from a string.
text = "PyThOn Is FUN"
uppercase_chars = ''.join(filter(lambda ch: ch.isupper(), text))
uppercase_chars

'PTOIFUN'

In [22]:
#Write a lambda that returns the square if number is even, cube if odd.
check = lambda x: x**2 if x % 2 == 0 else x**3
print(check(4))  
print(check(3))

16
27

In [21]:
#26. Use lambda with map to convert Celsius to Fahrenheit.
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0]

In [23]:
#27. Write a lambda to check if two strings are anagrams.
is_anagram = lambda s1, s2: sorted(s1.lower()) == sorted(s2.lower())
print(is_anagram("listen", "silent"))   
print(is_anagram("hello", "world"))

True
False

In [24]:
#28.Use lambda to extract only numeric values from a mixed list.
mixed_list = [10, "Hello", 3.5, "Python", 25, True, -7]
numbers = list(filter(lambda x: isinstance(x, (int, float)), mixed_list))
numbers

[10, 3.5, 25, True, -7]

In [25]:
#29.Use lambda inside any() to check if any list element is negative.
multiply_by = lambda n: lambda x: x * n
double = multiply_by(2)
triple = multiply_by(3)
print(double(5))  
print(triple(5))

10
15

In [26]:
#30. Use lambda to generate a function that multiplies any number by
numbers = [5, 10, -2, 8]
negative = any(map(lambda x: x < 0, numbers))
negative

True